@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
}

.risk-normal {
  @apply bg-risk-normal text-white;
}

.risk-warning {
  @apply bg-risk-warning text-white;
}

.risk-danger {
  @apply bg-risk-danger text-white;
}

.risk-critical {
  @apply bg-risk-critical text-white;
}
